@font-face {
  font-family: "Playwrite Cuba";
  src: url("./Fonts/PlaywriteCU-Regular.ttf");
}
:root {
  --background-color: #fffffe;
  --x: #3da9fc;
  --o: #ef4565;
  --board-border-color: #094067;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
}

.start-game {
  height: 250px;
  width: 600px;
  padding: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0;
  border-radius: 10px;
  background-color: var(--background-color);
}

::backdrop {
  background-color: var(--board-border-color);
  opacity: 0.6;
}

.start-game form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.player-names {
  display: flex;
  justify-content: space-between;
}

.player-name label {
  display: block;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.player-name input {
  padding: 0.5rem;
  font-size: 1.5rem;
  font-family: "Courier New", Courier, monospace;
  border-radius: 4px;
}

.player-name.x input {
  color: var(--x);
  border-color: var(--x);
}

.player-name.o input {
  color: var(--o);
  border-color: var(--o);
}

.start-game-btn,
.restart-game {
  align-self: center;
  padding: 1rem 2rem;
  border: 0;
  border-radius: 8px;
  font-size: 1.5rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  background-color: var(--board-border-color);
  color: var(--background-color);
}

header {
  align-self: center;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.title h1 {
  font-family: "Playwrite Cuba";
  font-size: 3rem;
}

.title img {
  height: 5rem;
  width: 5rem;
}

main {
  display: flex;
  flex-direction: column;
}

.players {
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.player {
  padding: 2rem;
  border-radius: 10px;
  font-size: 1.2rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.x {
  color: var(--x);
}

.o {
  color: var(--o);
}

.restart-game {
  justify-self: center;
  align-self: center;
}

.player.x {
  justify-self: end;
  border: 1px dashed var(--x);
}

.player.x.active {
  color: var(--background-color);
  background-color: var(--x);
}

.player.o {
  justify-self: start;
  border: 1px dashed var(--o);
}

.player.o.active {
  color: var(--background-color);
  background-color: var(--o);
}

.board {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 1fr));
  grid-template-rows: repeat(3, minmax(150px, 1fr));
  margin: 2rem;
  border: 2px solid var(--board-border-color);
}

.cell {
  font-size: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  border: 3px solid var(--board-border-color);
  background-color: var(--background-color);
  cursor: pointer;
}
